{% extends 'base.html' %}
{% load static %}
{% block body %}
<link href="{% static 'uppy/uppy.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'uppy/uppy_custom.css' %}">

<div class="container-fluid h-100 py-5 text-bg-dark rounded-3">{% csrf_token %}
    <h2>CBSTT</h2>
    <p>Real-time transcription playground.</p>
    <div class="file-upload">
        <div class="grid">
            <div class="column-full">
                <div class="d-flex justify-content-md-between">
                    <div class="UppyInput"></div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" name="transcriptionswitch"
                            id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Transcription</label>
                    </div>
                </div>
                <div class="UppyInput-Progress"></div>
            </div>
        </div>
    </div>
    <div id="output" class="mt-4"></div>
</div>
{% endblock %}


{% block extrascripts %}
<script type="module">
    import { getCookie } from "/static/js/cookie.js"
    import { stripQueryStringAndHashFromPath } from "/static/js/sttData.js"

    const windowPath = window.location.href;
    const csrftoken = getCookie('csrftoken');

    import { Uppy, FileInput, StatusBar, Tus } from "/static/uppy/uppy-module.min.js"
    const uppy = new Uppy({
        debug: false,
        autoProceed: true,
        restrictions: {
            allowedFileTypes: ['video/*', '.mkv', 'audio/*']
        }
    });
    uppy
        .use(FileInput, { target: '.UppyInput', pretty: true })
        .use(Tus, {
            endpoint: stripQueryStringAndHashFromPath(windowPath) + "api/upload/",
            headers: { 'X-CSRFToken': csrftoken },
            chunkSize: parseInt(5242880, 10),
            retryDelays: [0, 1000, 3000, 5000],
        })
        .use(StatusBar, {
            target: '.UppyInput-Progress',
            hideUploadButton: true,
            hideAfterFinish: false,
        });
    uppy.on('complete', (result) => {
        console.log('Upload complete! We’ve uploaded these files:', result.successful)
    })
</script>

<script>
    // write to connect to websocket
    // const socket = new WebSocket(
    //     'ws://' + window.location.host +
    //     '/ws/' + window.location.pathname.split("/").pop() + '/'
    // );

    // // write to connect to websocket
    // socket.onmessage = function (e) {
    //     const data = JSON.parse(e.data);
    //     const message = data['message'];
    //     const transcription = data['transcription'];
    //     const output = document.getElementById('output');
    //     if (transcription) {
    //         output.innerHTML = transcription;
    //     } else {
    //         output.innerHTML = message;
    //     }
    // };

    var socket = new WebSocket("ws://localhost:8000/ws/mysocket/");

    socket.onmessage = function (event) {
        console.log(event.data);
    };

    socket.send("Hello, world!");

</script>
{% endblock extrascripts %}