{% extends 'base.html' %}
{% load static %}
{% block body %}
<link href="{% static 'uppy/uppy.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'uppy/uppy_custom.css' %}">
<style>

</style>
<div class="container-fluid h-100 py-5 text-bg-dark rounded-3">{% csrf_token %}
    <h2>CBSTT</h2>
    <p>Real-time transcription playground.</p>

    <div class="file-upload">
        <div class="grid">
            <div class="column-full">
                <div class="d-flex justify-content-md-between">
                    <div class="UppyInput"></div>
                    {% include 'loader.html' %}
                    <div class="dropdown">
                        <button class="btn" id="configBtn" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                            data-bs-auto-close="outside"><i class="iconex iconex-filter"></i></button>
                        <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" style="width: 240px;">
                            <form class="px-4 py-2" id="configForm" method="post">
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="transcription"
                                            name="transcription"
                                            onchange="localStorage.setItem('transcriptionChecked', this.checked);">
                                        <label class="form-check-label" for="transcription">
                                            Transcription
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-0">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="cudaCheck"
                                            name="cudaCheck"
                                            onchange="localStorage.setItem('cudaChecked', this.checked);">
                                        <label class="form-check-label" for="cudaCheck">
                                            CUDA (default: CPU)
                                        </label>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="UppyInput-Progress mt-2"></div>
            </div>
        </div>
    </div>
    <div id="output" class="transcript-wrapper mt-4"></div>
</div>
{% endblock %}

{% block extrascripts %}
{% include 'script.html' %}
{% endblock extrascripts %}