<style>
    .haPMuQ {
        position: relative;
        width: 50px;
        height: 50px;
        margin-bottom: 25px;
        animation: 10s ease 0s infinite normal none running hYVTBr;
    }

    .fCVRE {
        float: left;
        clear: right;
        margin: 3.33333px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: rgb(75, 76, 86);
        animation-name: iPPwwe;
        animation-direction: alternate;
        animation-duration: 800ms;
        animation-iteration-count: infinite;
    }

    .fCVRE:nth-child(1) {
        animation-delay: 200ms;
    }

    .fCVRE:nth-child(2) {
        animation-delay: 400ms;
    }

    .fCVRE:nth-child(3) {
        animation-delay: 600ms;
    }

    .fCVRE:nth-child(4) {
        animation-delay: 400ms;
    }

    .fCVRE:nth-child(5) {
        animation-delay: 600ms;
    }

    .fCVRE:nth-child(6) {
        animation-delay: 800ms;
    }

    .fCVRE:nth-child(7) {
        animation-delay: 600ms;
    }

    .fCVRE:nth-child(8) {
        animation-delay: 800ms;
    }

    .fCVRE:nth-child(9) {
        animation-delay: 1s;
    }

    @keyframes hYVTBr {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(90deg);
        }

        50% {
            transform: rotate(180deg);
        }

        75% {
            transform: rotate(270deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes iPPwwe {
        0% {
            transform: scale(1, 1);
            opacity: 1;
            background-color: rgb(0, 255, 137);
        }

        100% {
            transform: scale(0, 0);
            opacity: 0;
            background-color: rgb(75, 76, 86);
        }
    }
</style>


<div class="progress-transcript" style="display: none;">
    <div size="50" class="whisper__Wrapper-k8uff3-0 haPMuQ">
        <div size="50" class="whisper__Ball-k8uff3-1 fCVRE"></div>
        <div size="50" class="whisper__Ball-k8uff3-1 fCVRE"></div>
        <div size="50" class="whisper__Ball-k8uff3-1 fCVRE"></div>
        <div size="50" class="whisper__Ball-k8uff3-1 fCVRE"></div>
        <div size="50" class="whisper__Ball-k8uff3-1 fCVRE"></div>
        <div size="50" class="whisper__Ball-k8uff3-1 fCVRE"></div>
        <div size="50" class="whisper__Ball-k8uff3-1 fCVRE"></div>
        <div size="50" class="whisper__Ball-k8uff3-1 fCVRE"></div>
        <div size="50" class="whisper__Ball-k8uff3-1 fCVRE"></div>
    </div>
</div>