<script type="module">
    import { getCookie } from "/static/js/cookie.js"
    import { Uppy, FileInput, StatusBar, Tus } from "/static/uppy/uppy-module.min.js"
    import { stripQueryStringAndHashFromPath, transcriptStripe } from "/static/js/sttData.js"


    const windowPath = window.location.href;
    const csrftoken = getCookie('csrftoken');

    const uppy = new Uppy({
        debug: false,
        autoProceed: true,
        restrictions: {
            allowedFileTypes: ['video/*', '.mkv', 'audio/*']
        }
    });
    uppy
        .use(FileInput, { target: '.UppyInput', pretty: true })
        .use(Tus, {
            endpoint: stripQueryStringAndHashFromPath(windowPath) + "api/upload/",
            headers: { 'X-CSRFToken': csrftoken },
            chunkSize: parseInt(5242880, 10),
            retryDelays: [0, 1000, 3000, 5000],
        })
        .use(StatusBar, {
            target: '.UppyInput-Progress',
            hideUploadButton: true,
            hideAfterFinish: true,
        });
    uppy.on('complete', (result) => {
        result.successful.forEach(index => {
            document.querySelector('.progress-transcript').style.display = 'inline-block';
            const uploadURL = index.response.uploadURL;
            handleWebSocketConnection(uploadURL);
        });
    });
    uppy.on('upload-error', (file, error, response) => {
        console.log(error);
    });

    function transcriptStripe(data) {
        textData += data.transcript + " ";
        return (`
            <div class="stt-data" data-target="${data.id}">
                <p class="ur">${textData}</p>
                <div class="stt-data__meta">
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <button type="button" class="btn btn-default edit-transcript-btn" data-target="${data.id}">
                            <i class="iconex iconex-broken-pen1"></i></button>
                        <button type="button" class="btn btn-default copy-transcript-btn">
                            <i class="iconex iconex-broken-copy"></i></button>
                        <button type="button" class="btn btn-default delete-transcript-btn" date-target="${data.id}">
                            <i class="iconex iconex-broken-delete"></i></button>
                    </div>
                </div>
            </div>
    `)
    }

    // Create a function to handle WebSocket connections
    function handleWebSocketConnection(uploadURL) {
        // Create a WebSocket object and connect to the server
        const transcriptWrapper = document.getElementById('output');
        const baseurl = `ws://${window.location.host}/transcript/`;
        const socket = new WebSocket(baseurl);
        let textData = "";

        // Listen for the 'open'
        socket.onopen = function (e) {
            console.log('WebSocket connection established.');
            const transcriptionChecked = JSON.parse(localStorage.getItem('transcriptionChecked'));
            const cudaChecked = JSON.parse(localStorage.getItem('cudaChecked'));
            // Send a message to the server with the file ID
            socket.send(JSON.stringify({
                'file_id': /[^/]*$/.exec(uploadURL)[0],
                'transcription': transcriptionChecked,
                'cuda': cudaChecked,
            }));
        };

        // Listen for the 'message'
        socket.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (data.transcript) {
                document.getElementById("output").innerHTML = transcriptStripe(data);
            }
        };

        // Listen for the 'close'
        socket.onclose = function (event) {
            if (event.wasClean) {
                console.log('Connection closed cleanly');
            } else {
                console.log('Connection disconnected');
            }
            document.querySelector('.progress-transcript').style.display = 'none';
            console.log('Code: ' + event.code + ' reason: ' + event.reason);
        };
    }
</script>